.spinner {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 300;
}

.spinnerBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.3;
}

.spinnerSpinner {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    top: 50%;
    width: 80px;
    height: 80px;
}

.spinnerSpinner svg {
    width: 80px;
    height: 80px;
    stroke: #b59751;
}

    .bar.bar-light {
  background-color: rgba(255,255,255,.100) !important; /* or transparent, or background:none */
}

.weatherDegrees {
    position: relative;
    top: 40%;
    transform: translateY(40%);   
    left: 20%; 
}
.weatherWeatherMinMax {
    position: relative;
    top: 50%;
    transform: translateY(50%);   
    left: 20%; 
    font-size: 16px;
}
.height-10vh {
    height: 10vh;
}
.height-5vh {
    height: 5vh;
}
.height-40vh {
    height: 40vh;
}
.height-30vh {
    height: 30vh;
}
.height-60vh {
    height: 60vh;
}
.height-80vh {
    height: 80vh;
}
.height-20vh {
    height: 20vh;
}
.height-15vh {
    height: 15vh;
}
.width-20vh{
    width: 20vh;
}
.font-20px{
    font-size: 20px;
}
.font-22px-bold{
    font-size: 22px;
    font-weight: bold;
}
.font-16px{
    font-size: 16px;
}
.font-14px{
    font-size: 14px;
}
.font-12px{
    font-size: 12px;
}
.font-align-left{
    text-align:left;    
}
.font-align-center{
    text-align:center;    
}
.wide-as-needed {
  white-space: nowrap;  
}

.high-as-needed {
  white-space: ;  
}

.longText {
    overflow: auto;
}

.widthMax {
    width: 100%;
}

.floatRight {
    position: absolute;
    right: 0;
}

.floatLeft{
    position: relative;
    left: 0;
}

#centerParagraph{
    margin: auto;
}

.marginTop-10px{
   margin-top: 10px; 
}
 .marginRight-20px{
     margin-right: 20px
 }
 .marginTop-5vh{
    margin-top: 5vh;
 }
 .max-width-70 {
 max-width: 70%;
}
.newsItemBackground {
    background: transparent;
}
.newsBackground {
}
.no-border {
    border: 0px;
}
.border-2px {
    border: 20px;
}