<ion-view cache-view="false" view-title="{{data.cityName}}">
    <ion-content class="padding" overflow-scroll="true">
        <div class="row height-40vh">
            <div class="col-50  height-20vh">
                <div class="row weatherDegrees">
                    <h2> {{data.weather}} </h2>
                </div>
                <div class="weatherWeatherMinMax">
                    <p>Min: {{data.weatherMin}}</p>
                    </p>Max: {{data.weatherMax}}</p>
                </div>
            </div>
            <div class="col-50">
                <ion-scroll direction="y" class="height-40vh ">
                    <div collection-repeat="weatherInHour in data.weatherInHours">
                        <div class="item">
                            <p class=" font-14px" style="display: inline;">
                                {{weatherInHour.temperature + ' - ' + weatherInHour.time}}
                            </p>
                            <image width="30" height="30" ng-src="{{weatherInHour.iconPath ? weatherInHour.iconPath : '/img/weatherIcons/clear-day.png'}}" style="float: right;" style="vertical-align: middle;" style="display: inline;"></image>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
        <div class="row height-15vh" ng-show="isLandscape"></div>
        <div class="row height-10vh" ng-show="!isLandscape"></div>
        <div class="row height-20vh">
            <ion-scroll id="ionScrollRegion" direction="x" class="wide-as-needed">
                <div id="overflowingContent">
                    <ul>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[1].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[1].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[1].temperatureMin + ' : ' + data.weatherInDays[1].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[2].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[2].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[2].temperatureMin + ' : ' + data.weatherInDays[2].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[3].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[3].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[3].temperatureMin + ' : ' + data.weatherInDays[3].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[4].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[4].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[4].temperatureMin + ' : ' + data.weatherInDays[4].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[5].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[5].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[5].temperatureMin + ' : ' + data.weatherInDays[5].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[6].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[6].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[6].temperatureMin + ' : ' + data.weatherInDays[6].temperatureMax}}</p>
                            </div>
                        </li>
                        <li class="item" style="display: inline-block;">
                            <div ng-style="getBackgroundStyle(data.weatherInDays[7].iconPath)">
                                <p style="color: black;" align="center">{{data.weatherInDays[7].time}}</p>
                                <p style="color: black;">{{data.weatherInDays[7].temperatureMin + ' : ' + data.weatherInDays[7].temperatureMax}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </ion-scroll>
        </div>
        <div class="height-5vh" ng-show="isLandscape"></div>
        <div class="row longText">
            <div class="col-50  longText">
                <p class="font-14px">Sunrise: {{data.sunriseTime}}</p>
                <p class="font-14px">Sunset: {{data.sunsetTime}}</p>
            </div>
            <div class="col-50 longText">
                <p class="font-14px">Wind Speed: {{data.windSpeed}}</p>
                <p class="font-14px">Humidity: {{data.humidity}}</p>
            </div>
        </div>
        <div class="row longText">
            <p align="center" class="font-16px">Apparent Temperature: {{data.apTemp}} </p>
        </div>
        <div class="row longText">
            <p class="font-14px">{{data.hourDescr}} {{data.dayDescr}} {{data.weekDescr}}</p>
        </div>
        <div class="row height-5vh">
            <button ng-show="tableHidden" class="floatRight button button-icon ion-plus" ng-click="showTable()"></button>
            <button ng-show="!tableHidden" class="floatRight button button-icon ion-minus" ng-click="showTable()">
                </buttton>
        </div>
        <div class="longText" type="search" ng-if="!tableHidden">
            <form>
                <input class="widthMax" placeholder="Search for city" ng-model="data.searchBox" ng-keyup="searchList(data.searchBox)" type="text">
                <ion-list ng-show="data.searchBox.length>1">
                    <div ng-repeat="city in data.searchBoxResponse">
                        <div class="marginTop-10px" ng-click="selectCity(city)">
                            {{city.matching_full_name}}
                        </div>
                    </div>
                </ion-list>
            </form>
            <div class="row">
                <ion-scroll direction="y" class="widthMax">
                    <div ng-repeat="city in data.cities track by $index">
                        <div class="row">
                            <div class="col-75" style="margin-top: 5px" ng-click="getWeather(city.longitude, city.latitude, city.cityName, $index)">
                                <h4 class="ion-item font-14px">
                                    {{city.cityName}}
                                </h4>
                            </div>
                            <div class="col-25">
                                <button ng-show="$index>0" style="vertical-align: top" class="floatLeft  button button-icon ion-ios-trash-outline" ng-click="removeLocation($index)">
                            </div>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
        </div>
        <div class="row longText">
            <p>©OpenStreetMap <a href="http://forecast.io/">
               ©Powered by Forecast
        </a>
            </p>
        </div>
    </ion-content>
</ion-view>