<ion-view view-title="News" class="newsBackground">
    <ion-content style="overflow-scroll: false" class="padding">
        <select ng-model="data.filter" class="widthMax font-22px-bold no-border">
            <option selected>Top News</option>
            <option>Economy</option>
            <option>Politics</option>
            <option>Science and Environment</option>
            <option>Sports</option>
        </select>
        <div class="row height-5vh"></div>
        <div class="row height-80vh">
            <ion-scroll direction="y" class="widthMax">
                <div ng-repeat="news in data.feeds">
                    <div class="item newsItemBackground" style="padding: 0px;" ng-click="browse(news.link)">
                        <div class="row">
                            <div class="col-25 marginRight-20px">
                                <img style="width: 100%; height: 100%;" ng-src="{{news.thumbnail._url}}" ng-if="news.thumbnail._url">
                            </div>
                            <div class="col-75">
                                <h3>{{news.title}}</h3>
                                <p ng-if="news.description.length>2" ng-bind-html="news.description"></p>
                                <p ng-if="news.description.length<3" ng-bind-html="news.description[0]"></p>
                                <p>{{news.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>