<ion-view view-title="News">
    <ion-content class="padding">
        <div class="row height-60vh">
            <ion-scroll direction="y" class="widthMax">
                <div ng-repeat="news in data.feeds">
                    <div class="item" ng-click="browse(news.link)">
                        <div>
                            <p>{{news.title}}</p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>